<h2>Create Post</h2>
<div class="container_form">
    <div class="row">
        <div class="col-md-12">
            <form #f="ngForm" (ngSubmit)="createPost(title, body)">
                <div class="form-group">
                    <div class="form-outline">
                    <label class="form-label">Title</label>
                    <input (change) = "print(title)" placeholder="title" name="title" type="text" 
                    class="form-control" ngModel  #title = "ngModel" required minlength="10" />
                    <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
                        <div *ngIf="title.errors?.['required']">Please enter your Title</div> 
                        <div *ngIf="title.errors?.['minlength']">Min length is {{title.errors?.['minlength'].requiredLength}}
                            and you enter  {{title.errors?.['minlength'].actualLength}}
                        </div>
                    </div>
                    </div>
                    <br>
                    <div class="form-outline">
                    <label class="form-label">Title body</label>
                    <textarea placeholder="body content" class="form-control" name="body" type="text" 
                    ngModel #body = "ngModel" required minlength="50" rows="3">
                    </textarea>
                    <div *ngIf="body.touched && body.invalid" class="alert alert-danger">
                        <div *ngIf="body.errors?.['required']"> Please enter your body Content</div>
                        <div *ngIf="body.errors?.['minlength']">Min length is 50</div>
                    </div>
                    </div>
                <br>
                <button class="btn btn-primary" type="submit "
                [disabled]="f.invalid">Create Post</button>
                </div>
            </form>

        </div>

    </div>

</div>