


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="describe">
                <h2>Our new website is on its away.</h2>
            <p>LogIn to be the firstto know when we launch</p>

            <button class="btn btn-primary" (click)="login()">Login With Google</button>
            </div>
            
        </div>
    
        <div class="col-md-6">

            <img src="https://t4.ftcdn.net/jpg/03/43/52/19/240_F_343521989_feURxAXd6uxz5IT1aIy8ZV9hVMOTvDkQ.jpg" />
            
        </div>
    </div>

</div>
