<h2>Update Post</h2>
<div class="container_form">
    <div class="row">

        <div class="col-md-12">
            <form #f = "ngForm">
    
    
                <div class="form-outline">
                    <label class="form-label">Title</label>
                    <input class="form-control" name="title"  [value]="post.title" type="text"  ngModel #title="ngModel" />
                   
                  </div>
            
                  <br/>
                  <div class="form-outline">
                    <label class="form-label">Title body</label>
                    <textarea type="text" name="body"  [value]="post.body" class="form-control"  ngModel #body="ngModel" rows="3">
                    </textarea>
                  </div>
                
                <br/>
                <button class="btn btn-primary"  type="submit" (click)="updatePost(title, body)">Update Post</button>
            </form>
            
        </div>
    </div>
</div>